.footer
{
    background-color: #dce0e3;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: right;
    font-size: 11px;
    color: dimgrey;
    border-top: 1px solid #9a9a9a;
}
.footer .context{
    padding: 10px;
}