*{
    font-family: yekan;
}
body{
    margin: 0px;
}
.mainHeader
{
    margin-top: 60px;
    height: 60px;
    background-color: rgb(233, 233, 233);
    background-image: linear-gradient(to bottom, rgb(224, 224, 224) ,rgb(255, 255, 255));
    margin-bottom: 10px;
    direction: rtl;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1200;
}
.mainHeader .context
{
    padding: 10px;;
    direction: rtl;
}
.mainHeader .context .logo{
    position: relative;
    float: left;
    padding: 15px;
    left: 60px;
    top: -65px;
    z-index: 1200;
    background-color: white;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(to bottom, #d7dee2,white);
    height: 90px;
    box-shadow: #51a0dd 0px -10px 10px -4px;
    text-align: center;
    font-size: 13px;
    font-family: yekan;
    color: #019eec;
    
}
.mainHeader .context .title
{
    color: #083d7d;
    font-size: 13px;
}
.mainHeader .context .company
{
    color: #3f8fca;
    font-size: 12px;
}
.container{
    margin-top: 125px;
}
@media only screen and (max-width:600px ) 
{
    .mainHeader{
        display:none;
    }
    .container{
        margin-top: 85px;
    }
}

@media only screen and ( max-height:250px )
{
    .mainHeader{
        display:none;
    }
    .container{
        margin-top: 85px;
    }
}


.appBar
{
    min-height: 60px;
    max-height: 60px;
    color: rgb(255, 255, 255) !important;
    background-color: #00aeff !important;
    background-image: linear-gradient(to bottom, rgb(126, 182, 255) ,rgb(71, 155, 213));
    border-bottom: 1px solid #2b506b;
    box-shadow: rgb(71, 155, 213) 0px 2px 9px !important;
}