.btnLogin {
  border: unset !important;
  color: white !important;
  display: inline-block;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(162, 170, 218, 0.486);
}
.btnLogin::before,
.btnLogin::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #1a7cec;
}
.btnLogin:hover::before,
.btnLogin:hover::after {
  width: 100%;
}
.btnLogin:hover span::before,
.btnLogin:hover span::after {
  height: 100%;
}
.btnLogin::before,
.btnLogin::after {
  transition-delay: 0s;
}
.btnLogin span::before,
.btnLogin span::after {
  transition-delay: 0.2s;
}
.btnLogin::before {
  right: 0;
  top: 0;
}
.btnLogin::after {
  left: 0;
  bottom: 0;
}
.btnLogin span::before {
  left: 0;
  top: 0;
}
.btnLogin span::after {
  right: 0;
  bottom: 0;
}
.btnLogin:hover::before,
.btnLogin:hover::after {
  transition-delay: 0.2s;
}
.btnLogin:hover span::before,
.btnLogin:hover span::after {
  transition-delay: 0s;
}

.loginPanel {
  min-height: "100vh" !important;
  height: "100vh" !important;
  direction: rtl;
}

.loginPanel div .mainPanel {
  padding: 15px;
  font-family: "IranSans";
  direction: rtl;
}
.loginPanel div .mainPanel div {
  border: unset;
  box-shadow: unset;
  font-family: "IranSans";
}
.loginPanel .mainPanel .title {
  font-family: "IranSans";
}

.btnLoginPanel {
  width: 100%;
  font-size: 21px;
  margin-bottom: 16px;
  background-color: #74b1f8 !important;
  font-family: IranSans;
}
