/* *{
  font-family: "Almarai", "Verdana" !important;
} */

.MuiTabs-vertical {
  background-color: whitesmoke;
}

li{
  list-style-type: none;
}

.react-checkbox-tree.rct-icons-fa4 button{
  border: none;
  cursor: pointer;
  background-color: white;
}

li > span{
  display: block !important;
  border-radius: 13px;
  margin: 5px 10px;
}

li > span:hover{
  display: block;
  background-color: #f5f5f5;
  cursor: pointer;
}



div.react-contextmenu-wrapper > li:hover {
  color : green;
  cursor : pointer
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.treeviewitem li:hover{
  background-color: #f7f6f6;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tether-element.tether-element-attached-bottom{
  z-index: 2000 !important;
}

button {
  font-family: inherit !important;
  font-size: 14px !important;
}

.tableHeader{
  border: 1px solid #9c9c9c;
  box-shadow: #adadad 0px -4px 8px;
  background-image: linear-gradient(to top, #f7f7f7 , #e2e2e2);
}



