.show-selected-parameter {
    display: inline !important;
}

.show {
    display: block !important;
}

.fam-search-parameters-container{
    display : none;
    width: 300px;
    background-color: white;
    position: absolute;
    border: 1px solid #eaeaea;
    z-index: 1000;
}

.fam-search-parameters-container div{
    color: #878787;
    padding: 2px 4px;
}

.fam-search-parameters-container div:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}

.fam-search-selected-parameter{
    font-size: 12px;
    color: #9E9E9E;
    background-color: #ececec;
    padding: 2px 2px;
    border-radius: 0px;
    display: none
}

.fam-search-container {
    display: none;
    width: 300px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    border: 1px solid #eaeaea;
}

.fam-search-user-row {
    border-right: 3px solid white;
    display: flex;
    flex-direction: row-reverse;
    padding: 1px 1px 1px 6px;
    margin: 6px 0px;
}

.fam-search-user-row:hover{
    border-right: 3px solid rgb(0, 162, 255);
    cursor: pointer;
    background-color: #f4f4f4;
}

.fam-search-user-row img {
    border-radius: 50%;
    width: 40px
}