/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .sidebar {
    /* max-width: 240px; */
    /* height: 100vh; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    direction: rtl;
    text-align: right;
  }
  
  .sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-item-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .sidebar-item-icon {
    margin-left: 6px;
  }
  
  .sidebar-item-text {
    width: 100%;
    text-align: right;
  }
  
  .sidebar-item-expand-arrow {
    font-size: 1.2rem !important;
  }
  
  .sidebar-item-expand-arrow-expanded {
    color: #09bb12;
    font-weight: bold;
  }
 
  .submenu-item {
    position: absolute;
    left: -150px;
    width: 150px;
    background-color: rgb(244, 244, 244);
    direction: rtl;
    text-align: center;
    display: none;
    border: 1px solid #e1e1e1;
  }
  
  .submenu-item-child {
    padding: 7px;
  }
  
  .submenu-item-child:hover{
    background-color: rgb(237, 237, 237);
  }

  

  .svg.sidebar-item-expand-arrow {
    display: block;
  }

  div.xxx {
    height : 50px;
    border-style: 2px solid blue;
  }

  div.submenu-item {
    display: none;
  }

  @media screen and (min-width: 360px) and (max-width:900px) {
    
     .sidebar-item.xxx:hover>div.submenu-item{
      display: block;
    }

    div.sidebar>ul>.MuiCollapse-container.MuiCollapse-entered {
      display: none;
    }
    
    .sidebar-item-text {
      display: none;
    }

    div svg.sidebar-item-expand-arrow {
      display: none;
    }

    div.MuiListItem-root {
      height : 50px;
      border-style: 2px solid blue;
    }

  }